{% extends "base.html.twig" %} 

{% block title %}Connexion - Cosmetic{% endblock %}


{% block content %}
    {% if form.valide is defined %}
        {% if form.valide == true %}
            <h1>Connexion réussie</h1>
            <p>Voici votre identifiant : {{ form.email }}</p>
            {% if form.role is defined and form.role == 1 %}
                <p>Vous êtes administrateur du site.</p>
            {% else %}
                <p>Vous êtes un client du site.</p>
            {% endif %}
        {% else %}
            <h1>Échec de la connexion</h1>
            <p>Erreur : {{ form.message }}</p>
            <p><a href="index.php?page=connexion">Retourner sur la page d'inscription</a></p>
        {% endif %}
    {% else %}
        <form action="index.php?page=connexion" method="post" enctype="application/x-www-form-urlencoded" class="form-container">
            <h1 class="form-title">Connectez-vous</h1>
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Votre Email" required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Mot de passe</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>
            </div>
            <button class="btn btn-primary btn-block" type="submit" name="btConnecter">Connexion</button>
        </form>
    {% endif %}
{% endblock %}
