{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Mentions légales {% endblock %}
{% block content %}
<h1>Mentions légales</h1>
<p>Voici les mentions légales de notre site...</p>
{% endblock %}
